FAQs handling system.json
{
  "name": "FAQs handling system",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -224,
        0
      ],
      "id": "500366b2-11ff-4fcf-bfb1-cc536d2602b9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VtBhfo93DmkrRTEB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotional",
              "description": "Marketing, offers, discount, sales, newsletter"
            },
            {
              "category": "Support_Service",
              "description": "Customer inquiries, troubleshooting, complaints, or help requests."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the email provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "c6df0e9f-a431-4511-ae5d-7d870ed44e65",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "313829f6-fd75-4028-a4b6-95faf24c5252",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "dee40a70-c295-4fa6-a417-35a2a7b17c4f",
      "name": "Emailbody"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        224
      ],
      "id": "c9c3cfcd-c002-4be8-86be-4743facd0d6b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "O3ZebQBFJKeSLcYR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email recieved:  {{ $('Emailbody').item.json.snippet }}\n\nFrom: {{ $('Gmail Trigger').item.json.From }}",
        "options": {
          "systemMessage": "#Overview\nYou are a helpful assistant that answers any inquiries for our e commerce store called NovaMart.You will be drafting email replies for the incoming queries that come through.\n\n##Tools\n- Vector_store - This tool will be used to help us answer any incoming queries from users.\n- email_draft - This tool will be used to draft any emails back to the user. Make sure to use the Vector_store before using this tool\n\n##Rules\n\n- ALWAYS use Vector_store before answering and drafting any emails\n- ALWAYS draft an email with an answer\n- Make the email_draft in medium length, keeping it concise with the good structure.\n\n##Extra information\nMy name is Yaman\n- Make sure to include that when drafting the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        0
      ],
      "id": "6c6c1585-ef72-458b-a114-379d012e4554",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        544,
        224
      ],
      "id": "bb7bcf70-e09a-4e0c-a59f-6edccee5a68a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "O3ZebQBFJKeSLcYR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with data inside vector database to answer any questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        272
      ],
      "id": "0a6804aa-f862-47fd-92f9-956f0b406c87",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "B4LN0qXQ0zsG8juo",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        432
      ],
      "id": "88b119f4-7aa3-4298-aabd-973fe5ae2dbd",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "O3ZebQBFJKeSLcYR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1056,
        192
      ],
      "id": "eed4607d-82fe-4c42-9571-b65e89212a0a",
      "name": "email_draft",
      "webhookId": "1a333104-410e-44bd-97f1-313f3ed0e96c",
      "credentials": {
        "gmailOAuth2": {
          "id": "VtBhfo93DmkrRTEB",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8754242070",
        "text": "=new inquery recieved form {{ $('Gmail Trigger').item.json.From }}\n\nAbout: {{ $('Gmail Trigger').item.json.Subject }}\n\nAction: The email has been drafted. Please check it out \nThankYou",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        0
      ],
      "id": "1cf8e93c-14c0-4f1d-a514-e4a75025af4b",
      "name": "Send a text message",
      "webhookId": "c5fb73df-3ce7-48ed-9119-cdf5a4ef1b0f",
      "credentials": {
        "telegramApi": {
          "id": "QU31NVxVEJ4D5lxd",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Emailbody",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emailbody": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "email_draft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5764e563-7876-427d-b6a5-52cb2622e912",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e449de395279578cd825acbf0c77d1cfaec2b83e1ff5906bcd81382778956d9a"
  },
  "nodeGroups": [],
  "id": "r4sFiHOpsWkVEnf2",
  "tags": []
}