Rag Agent System by Yaman.json
{
  "name": "Rag Agent System by Yaman",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18BpnGn9HB5a-3Ybk6u8OGGlPfaQ6W8HL",
          "mode": "list",
          "cachedResultName": "RAG example",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18BpnGn9HB5a-3Ybk6u8OGGlPfaQ6W8HL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e78d6039-66f3-4e77-ad0c-c5492146cd05",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ndxPsQ5fAex7Exfy",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "e0fd23d8-9420-46bd-baa9-945c0de58e21",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ndxPsQ5fAex7Exfy",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        0
      ],
      "id": "140cf069-f17c-4cdf-a036-544568e0d12f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "B4LN0qXQ0zsG8juo",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        192
      ],
      "id": "ee37e7f0-f7af-44a3-865e-12250b9883d3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        192
      ],
      "id": "24992a56-6fe7-4bbf-be44-a214e9e837f4",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "O3ZebQBFJKeSLcYR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=#overview\n\nYou are a helpful intelligent information extracting assistant that answers any queries that comes to you\n\n##Tools\n\nVector_Store - this will ALWAYS be used when answering any questions that the user might have.\n\n##Rules\n- you must ALWAYS pull the information from the Vector_Store.\n- your anwsers need to be concise and to the point."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        416
      ],
      "id": "a2b676fb-18b7-4bbb-a24a-0727a9b20b96",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -32,
        416
      ],
      "id": "05f8d214-688a-4c53-814f-7f05cc60c183",
      "name": "When chat message received",
      "webhookId": "6dfa4339-2d1e-474e-9e15-6238e571d422"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        176,
        608
      ],
      "id": "1fbb7410-82eb-4611-bd25-4f7bcfb078ae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data from supabase vector database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        304,
        624
      ],
      "id": "08b9d030-b22f-4bf9-a872-ed4fa0ce6692",
      "name": "Vector_Store",
      "credentials": {
        "supabaseApi": {
          "id": "B4LN0qXQ0zsG8juo",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        608
      ],
      "id": "8226290c-6621-4feb-be47-2e1664622ec1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "O3ZebQBFJKeSLcYR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        816
      ],
      "id": "b7e5b175-849f-4f2d-b8d2-3468727555c0",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "O3ZebQBFJKeSLcYR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector_Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Vector_Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dd54f7bf-f762-47f8-9e8c-4bc04e9d35e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e449de395279578cd825acbf0c77d1cfaec2b83e1ff5906bcd81382778956d9a"
  },
  "nodeGroups": [],
  "id": "V44i8mnNwOHWkC1s",
  "tags": []
}